/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.pointsBox {
    height: 160px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    background-color: limegreen;
    color: white;
    border: 2px thin black;
    font-size: 15px;
    font: bold 12 px;
    font-family: 'Comic Sans MS';
}

.boxx {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 160px;
    margin: 15px;
    padding: 25px 10px 24px;
    overflow: hidden;
    border: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: rgba(255,255,255,1);
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #0199d9;
    -webkit-box-shadow: 0 5px 4px 0 rgba(0,0,0,0.3);
    box-shadow: 0 5px 4px 0 rgba(0,0,0,0.3);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

a.blueBtn {
    outline-color: black;
    background-color: turquoise;
    border-color: #90AFC5;
    border: 1px thin black;
    color: white;
}

    a.blueBtn:hover {
        background-color: darkturquoise;
        color: white;
    }

a.blueActive {
    background-color: darkturquoise;
    color: white;
}

.sortBtn {
    border: 1px inset lightgray;
    background-color: turquoise;
    color: black;
}

    .sortBtn:hover {
        background-color: darkturquoise;
    }

.sortBtnActive {
    background-color: dimgray;
    color: white;
}

a.bluePaginationActive {
    background-color: white;
    color: #0275d8;
}

.favButton {
    background-color: lightblue;
    font-size: 15px;
    font: bold 12 px;
    font-family: 'Comic Sans MS';
    color: #294972;
    border: 1px thin #294972;
    border-color: #294972;
}
    .favButton:hover {
        background-color: skyblue;
    }

.BackgroundBlueGradient {
    background-image: linear-gradient(to bottom, #50c9c3, #96deda);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

    .sticky + .content {
        padding-top: 60px;
    }

.navyBorder {
    border: 2px solid #294972;
}

.table-bordered {
    border: 2px solid #294972;
    border-bottom: 2px solid #294972;
    border-top: 2px solid #294972;
}

.navyBorder {
    border: 2px solid #294972;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.likes {
    background-color: lightblue;
    font-size: 15px;
    font: bold 12 px;
    font-family: 'Comic Sans MS';
    border: 1px thin #294972;
    border-color: #294972;
}

.likeButton {
    background-color: lightblue;
    font-size: 15px;
    font: bold 12 px;
    font-family: 'Comic Sans MS';
    border: 1px thin #294972;
    border-color: #294972;
}
    .likeButton:hover {
        background-color: skyblue;
    }

.likedButton {
    background-color: lightblue;
    font-size: 15px;
    font: bold 12 px;
    font-family: 'Comic Sans MS';
    color: #294972;
    border: 1px thin #294972;
    border-color: #294972;
}

.likedButton:hover {
    background-color: skyblue;
}

a.navActive {
    color: gray;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}
