@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <partial name="~/Views/Shared/_VicovePartial.cshtml" />
        <div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-primary">
                    <p>
                        На международно състезание на кого к*ра е най-голям се явяват руснак, французин, американец и наш Ганьо. Първи излиза французина. Сваля гащите 30 см. Публиката аплодира. Ред е на американеца. Смъква и той - бам до коляно. Идва руснака - до петите. Публиката реве неистово. Излиза наш Ганьо, Смъква гащите, а там 2 - 3 см. израстък. Публиката умира от смях. Тогава бай Ганьо се обръща към тях:
                        <br />
                        - Моля някоя от публиката да си даде бикините!
                        <br />
                        Подхвърлят му едни. Той ги поднася към к*ра си и казва:
                        <br />
                        - Ганчо, души
                        <br />
                        После ги хвърля на страни.
                        <br />
                        - А сега, търси!
                    </p>
                </li>
                <li class="list-group-item list-group-item-primary">
                    <p>
                        Бай Ганьо, Tурчина и Aмериканеца влезли в една пещера. Първо влязал турчина и чул:
                        <br />
                        -Аз сам синьото око.
                        <br />
                        И избягал. След него влязал американеца и чул:
                        <br />
                        -Аз сам синьото око.
                        <br />
                        Оплашил се и избягал. Най-накрая влазал Бай Ганьо и чул:
                        <br />
                        -Аз сам синьото око.
                        <br />
                        Бай Ганьо казал:
                        <br />
                        -Ти внимавай аз да не ти насиня и другото.
                    </p>
                </li>
                <li class="list-group-item list-group-item-primary">
                    <p>
                        Бай Ганьо отишъл по бизнес в Москва. Влезнал в един бар малко да олаби. Седнал на бара и си поръчал една бира. Изпил я с кеф и поискал сметката.
                        <br />
                        -27 рубли - му казал барманът.
                        <br />
                        Бай Ганьо извадил 27 монети по една рубла и ги хвърлил през бара. Монетите се разпилели навсякъде. Барманът почервенял от яд, но се сдържал. Какво да прави? Все пак това е клиент. Стиснал зъби и събрал монетите. На следващия ден Бай Ганьо пак пристига. Пак си поръчал бира. Изпил я и поискал сметката.
                        <br />
                        -27 рубли – просъскал през зъби барманът.
                        <br />
                        Бай Ганьо извадил банкнота от 50 рубли. Барманът се изкефил. „Ей сега ще ти го върна тъпкано”. Извадил 23 рубли ресто, на монети по 1 рубла и ги хвърлил през бара. Монетите се разпилели из целия бар. Бай Ганьо погледнал монетите по земята. Замислил се и след това извадил още 4 монети по 1 рубла. Оставил ги на бара и казал:
                        <br />
                        -Дай още една биричка, момче.
                    </p>
                </li>
                <li class="list-group-item list-group-item-primary">
                    <p>
                        Един богат бизнесмен наел дресировчици от Франция, Германия и България да научат неговата маймуна да говори. Дал им по един камион с банани и срок от 1 месец.След 1 месец отива при немеца. Какво да види? Маймуната охранена, търкаля се и не иска да каже нито дума. След още 1 месец отива при французина. Маймуната седи. Тъпче се с банани и кроасани. Бизнесменът казва на маймуната:
                        <br />
                        - Кажи нещо.
                        <br />
                        А тя:
                        <br />
                        - У,У....
                        <br />
                        След още 1 месец, най-накрая, бизнесмена отива и в България при Бай Ганьо. Какво да види? Маймуната седи в ъгъла. Страшно отслабнала. Трепери умърлушена. Бизнесменът пита Бай Ганьо:
                        <br />
                        - Ти какво направи с нея?
                        <br />
                        - Ами как какво! Ето! Храних я обилно с банани, а тя не иска да яде.
                        <br />
                        Маймуната от ъгъла се обадила:
                        <br />
                        - Ах, как лъжеш, копеле мръсно?
                    </p>
                </li>
                <li class="list-group-item list-group-item-primary">
                    <p>
                        В Германия започна фестивала на бирата Октобер фест. От всички участници най-много бира изпи Бай Ганьо, който гледаше фестивала по телевизията.
                    </p>
                </li>
            </ul>
        </div>