@using AspNetCoreTemplate.Data.Models
@using AspNetCoreTemplate.Web.ViewModels.Vicove
@model VicReviewViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form asp-controller="Vicove" asp-action="Create" method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="VicType">Категория вицове</label>
        <select asp-for="VicType" class="form-control" asp-items="@Html.GetEnumSelectList<VicType>()"> <option value="0">Моля изберете</option></select>

        <label asp-for="Content">Напиши вица</label>
        <textarea asp-for="Content" class="form-control" rows="5"></textarea>

        <input type="submit" value="Изпрати" class="btn btn-default" />
    </form>
</div>

@*@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    } *@