@using AspNetCoreTemplate.Data.Models
@model VicNaDenq
@{
    this.ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Най-новите и популярни вицове!</h2>

@*<div>
    <span>Виц на деня</span>
    <p>@Model.Content</p>
</div>*@
